.obfuscation {
    background-color: black;
}

.address {
    text-align: center;
    word-wrap: break-word;
    padding-top: 15px;
}

.wallet-container {
    border: solid 1px black;
}

.public-part {
    border-right: 1px dotted black;
    padding-bottom: 15px;
}

.private-part {
    padding-bottom: 15px;
}

.row {
    margin-top: 1rem;
}